.userListDisplayContainer {
  width: 100%;
  margin-top: 16px;
  padding: 8px 16px;
  background-color: aliceblue;
  border-radius: 16px;
}

.userDisplayBasicInfo {
  height: 32px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 8px 0px;
  cursor: pointer;
  padding: 0px 4px;
  border-radius: 8px;
}

.userDisplayBasicInfo:hover {
  background-color: rgb(225, 232, 238);
  -webkit-transition: background-color 100ms ease-in;
  -ms-transition: background-color 100ms ease-in;
  transition: background-color 100ms ease-in;
}

.userDisplayBasicInfoTitle {
  height: 32px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-weight: bold;
  padding: 0px 4px;
  align-items: center;
}

.userDisplayItemTitle {
  width: 30%;
}
.userDisplayItem {
  width: 30%;
}

@media (max-width: 768px) {
  .userDisplayBasicInfo {
    height: 85px;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 1px solid darkgray;
    padding-bottom: 4px;
  }

  .userDisplayBasicInfoTitle {
    display: none;
  }

  .userDisplayItem {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }  
}