.userListDisplayLoadingContainer {
  margin: 24px auto;
  display: flex;
  justify-content: center;
}

.searchContainer {
  margin-top: 8px;
}

.userDisplaySearchBar {
  height: 32px;
  border-radius: 8px;
  border: 1px solid aliceblue;
  width: 250px;
  padding: 0px 4px;
}

.userDisplaySearchBar:focus { 
  outline: 1px solid#17D3FF !important;
}

.userListDisplayContainer {
  width: 100%;
  margin-top: 8px;
  background-color: aliceblue;
  border-radius: 8px;
}

.userDisplayBasicInfo {
  height: 32px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 8px 0px;
  cursor: pointer;
  padding: 0px 4px;
}

.userDisplayBasicInfo:hover {
  background-color: rgb(229, 237, 245);
  -webkit-transition: background-color 100ms ease-in;
  -ms-transition: background-color 100ms ease-in;
  transition: background-color 100ms ease-in;
}

.userDisplayBasicInfoTitle {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #FFA817;
  height: 32px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-weight: bold;
  padding: 0px 4px;
  align-items: center;
}

.userListUserAvatar {
  border-radius: 50%;
  margin-left: 7px;
  margin-right: -7px;
}

.userDisplayItemBlank {
  width: 24px;
}

.userDisplayItemTitle {
  cursor: pointer;
  width: 30%;
}
.userDisplayItem {
  width: 30%;
}

.userListErrorMessage {
  color: #FF5C17;
  margin: 8px auto;
}

.noUsersFound {
  margin: 8px;
}

@media (max-width: 768px) {
  .userDisplaySearchBar {
    width: 100%;
  }

  .userListDisplayContainer {
    width: 100%;
    margin-top: 16px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 8px;
  }

  .userListUserAvatar {
    margin-top: 4px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .userDisplayBasicInfo {
    height: 120px;
    flex-direction: column;
    background-color: aliceblue;
    justify-content: space-around;
    border-radius: 8px;
    border-bottom: 1px solid darkgray;
    border-right: 1px solid darkgray;
    border-top: 1px solid rgb(228, 228, 228);
    border-left: 1px solid rgb(228, 228, 228);
    padding-bottom: 4px;
  }

  .userDisplayBasicInfoTitle {
    display: none;
  }

  .userDisplayItem {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }  
}