.main {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  min-height: 100vh;
}

@media (max-width: 768px) { 
  .main {
    padding: 2rem;
  } 
}

.titleDividerLine {
  margin-top: 8px;
  border-image: linear-gradient(45deg, #17D3FF, #D8DCDD) 15;
  border-width: 1px;
  border-style: solid;
}
