.userDetailsModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.userDetailsModalContent {
  display: flex;
  flex-direction: row;
  margin: 16px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 750px;
}

.userDetailsModalHeaderSection {
  align-content: flex-start;
  padding: 32px 16px 0px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #FFA817;
}

.userDetailsModalUserAvatar {
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 50%;
}

.userDetailsModalContentUserName {
  color: #46596B;
  font-weight: 300;
  display: flex;
  justify-content: center;
  text-align: center;
}

.userDetailsModalContentUserWebsite {
  color: #46596B;
  font-weight: 300;
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
}

.userDetailsModalDivider {
  display: none;
}

.userDetailsModalBodySection {
  padding: 16px;
  width: 70%;
}

.userDetailsModalContentSectionTitle {
  color: #46596B;
  font-weight: 300;
  margin-top: 16px;
  text-decoration: underline;
}

.userDetailsModalContentSectionInfo {
  color: #4b5b69;
  font-weight: 400;
  font-size: 16px;
}

.userDetailsModalContentSectionInfoQuote {
  color: #4b5b69;
  font-style: italic;
}

.userDetailsModalContentSectionCentered {
  color: #4b5b69;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.userDetailsModalContentSectionInfoSmallText {
  color: #606366;
  font-weight: 300;
  font-size: 14px;
}

.userDetailsModalCloseButton {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 8px 16px;
  background-color: #178BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.userDetailsModalCloseButton:hover {
  background-color: #1742FF;
  -webkit-transition: background-color 250ms ease-in;
  -ms-transition: background-color 250ms ease-in;
  transition: background-color 250ms ease-in;
}

@media (max-width: 1030px) {
  .userDetailsModalContent {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .userDetailsModalHeaderSection {
    padding-top: 16px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
    background-color: #FFA817;
  }

  .userDetailsModalDivider {
    display: inherit;
    border-top: 1px solid #cecfdb;
  }

  .userDetailsModalBodySection {
    width: 100%;
  }

  .userDetailsModalCloseButton {
    width: 100%;
  }
}